<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=   , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DATA CENTRE</title>
</head>
<style type="text/css">
	body{
		background-color: orange;
	}
	main{
		height: inherit;
		padding: 20px;
		width: 500px;
		margin:80px auto;
		background-color: brown;
	}
	h1{
		color: whitesmoke;
	}
	a{

		color: orange;
	}
	
</style>
<body>
	<main>
		<h1>WELCOME TO DATA CENTRE</h1>
		<p><a href="/add">Add your data</a></p><span><a href="/list">View data</a></span>
	</main>
</body>